<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneStop.StoredApps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OneStop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OneStop.StoredApps>
            <setting name="Setting" serializeAs="String">
                <value>str_StoredApps</value>
            </setting>
        </OneStop.StoredApps>
        <OneStop.Properties.Settings>
            <setting name="str_LastTronDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="str_StoredApps" serializeAs="String">
                <value />
            </setting>
            <setting name="str_Shop_Name" serializeAs="String">
                <value>SuperShop</value>
            </setting>
            <setting name="str_Shop_Addr1" serializeAs="String">
                <value>204 N. Street St.</value>
            </setting>
            <setting name="str_Shop_Addr2" serializeAs="String">
                <value>Upper Level Suite A</value>
            </setting>
            <setting name="str_Shop_Phone" serializeAs="String">
                <value>555-867-5309</value>
            </setting>
            <setting name="str_Shop_Email" serializeAs="String">
                <value>support@supershop.net</value>
            </setting>
            <setting name="str_Shop_City" serializeAs="String">
                <value>Anytown</value>
            </setting>
            <setting name="str_Shop_State" serializeAs="String">
                <value>Illinois</value>
            </setting>
            <setting name="bool_tron_a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_dev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_e" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_er" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_o" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_p" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_r" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sdc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_se" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sfr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_spr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_srr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_ss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_str" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_sw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_v" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_tron_x" serializeAs="String">
                <value>False</value>
            </setting>
        </OneStop.Properties.Settings>
    </userSettings>
</configuration>
